* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
#header {
    background: #FBEDDA;
}
body {
    font-family: 'Noto Serif', serif;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
.menu h3 {
    font-size: 22px;
    font-weight: 900;

}
.navs {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
}
.navs a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.btn {
    background: #13A6BA;
    padding: 10px 25px;
    border: none;
    /* display: flex; */
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.dropdown_menu  {
    position: fixed;
    background: #0000005b;
    width: 250px;
    height: 400px;
    top: 0;
    right: 0;
    z-index: 99;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    border-radius: 10px;
    
}
.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.dropdown_menu li {
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    
}
.dropdown_menu li a {
    text-decoration: none;
    color: black;
}
.dropdown_menu li a:hover {
    color: white;
}
.toggle_btn {
    display: none;
    font-size: 20px;
    z-index: 200;
    /* display: flex; */
}
.menu-btn {
    background: #13A6BA;
    padding: 10px 25px;
    border: none;
    display: flex;
    border-radius: 10px;
    color: rgb(222, 217, 217);
    cursor: pointer;
}


.image {
    display: flex;
    justify-content: center;
}

/* modal */
.sign-in-modal {
    position: fixed;
    background: #0000005b;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 99;
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 450px;
    width: 100%;
  }
  
  .modal-content h4 {
    font-size: 20px;
    padding-bottom: 10px;
  }
  
  .modal-content input {
    padding: 10px;
  }
  
  .sign-buttons button {
    padding: 10px 20px;
    cursor: pointer;
    background: #13a6ba;
    border: none;
    font-size: 16px;
    color: white;
    border-radius: 10px;
  }
  
  .close-button {
    background: #b1b1b1 !important;
  }

.title h1 {
    margin-top: 100px;
    text-align: center;
    font-size: 45px;
    font-weight: 800;
    color: black;

}

.title p {
    text-align: center;
    margin-top: 10px;
    color: #677071;
    font-size: 16px;
    font-weight: 400;
}

.div {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.card {
    width: 800px;
    height: 180px;
    background: white;
    border-radius: 10px;
   
}

.subtitle {
    display: flex;
    gap: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #677071;
}

.subtitle h5 {
    font-size: 16px;
    font-weight: 600;
} 
/* .subtitle h5:hover {
    border-bottom: black;
} */
.button {
    font-weight: 400;
    font-size: 22px;
    padding: 10px 30px;
    background: #13A6BA;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
   
}
.buys {
    display: flex;
    flex-direction: column;
    
}
.buys h3 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
    padding-left: 20px;
}
.img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.img p {
  font-size: 16px;
  font-weight: 400;
  color: #677071;
}

.image img {
    width: 1200px;
    height: 900px;
}

/* section */
 .home h2 {
    font-weight: 700;
    font-size: 30px;
}
.home p{
    font-weight: 400;
    font-size: 16px;
    color: #677071;
    margin-top: 10px;
}
.rad {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.home-subtitle {
    display: flex;
    gap: 30px;
}
.homes {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 50px;
}


.donate-cards{
    display: flex;
    gap: 49px;
}

.donate-card{
    background: #FFFFFF;
   
    width: 369px;
    height: 530px;
    border: 0.5px solid #D1D1D1;
    border-radius: 20px;
    transition: 0,3s;
    border: 2px solid transparent;

}
.donate-card:hover{
    border: 2px solid rgb(61, 61, 232);
}

.donate-img3{
    padding: 20px;
    
}
.donate-img3 img {
    width: 330px;
    height: 250px;
}

.donate-img4 img {
    width: 330px;
    height: 250px;
}

.donate-img3 img {
    width: 330px;
    height: 250px;
}

.donate-img3 img{
    border-radius: 20px;
    
}
.donate-img4{
    padding: 20px;
}

.donate-img4 img{
    border-radius: 20px;
    
}
.h {
    display: flex;
    gap: 20px;
    
}
.h h2 {
    color: #CCCFD0;
    font-weight: 400;
    font-size: 16px;
}

.btns {
    background: #13A6BA;
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 20px 115px;
    border: none;
    border-radius: 10px;
}
.donate-sub {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 10px;
}

.donate-sub p {
    color: #677071;
    font-weight: 400;
    font-size: 16px;
}

.donate-sub  h1 {
    font-weight: 700;
    font-size: 35px;
}

.donate-sub h3 {
    font-size: 20px;
    font-weight: 700;
}

.donate-sub h2 {
    font-size: 16px;
    font-weight: 400;
}
.icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #772D8B;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 9px;
     
}

.open {
    display: flex;
    z-index: 0;
}

.icon {
    margin-top: 30px;
    font-size: 24px;
    display: flex;
    justify-content: end;
    gap: 50px;  
}

.some-img img{
    width: 600px;
    height: 700px;
}

.some-subtitle {
    display: flex;
    gap: 60px;
}

.im h3 {
    font-size: 24px;
    margin-bottom: 15px;
   
}

.im p {
    color: #677071;
    font-size: 16px;
    
}

.some-text {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 100px;
}

.some-title {
    display: flex;
    gap: 100px;
    margin-top: 200px;
    position: relative;
    
}
.some-text  h1 {
    font-weight: 700;
    font-size: 40px;
}
.min {
    width: 390px;
    height: 190px;
    background: white;
    border-radius: 20px;
    position: absolute;
    top: 450px;
    right: 920px;
    box-shadow: -12px 16px 46px 0px rgba(0, 0, 0, 0.08);


}
.mins {
   padding: 20px 30px;
}

.mins h3 {
    font-size: 20px;
    font-weight: 600;

}

.mins p {
    font-size: 16px;
    font-weight: 400;
    color: #677071;
    margin-top: 10px;

}

.imgs {
    margin-top: 30px;
    display: flex;
    gap: 12px;
}
.imgs img {
    width: 65px;
    height: 57px;
}
.imgs i {
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: orangered;
    width: 65px;
    height: 57px;
    border-radius: 5px;

}



.boxes {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    margin-top: 180px;
}
.box-sub {
    position: relative;
}
.boxes1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 150px;
    /* position: absolute;
    top: 700px; */
}
.box-titles {
    display: flex;
    gap: 35px;
}
.boxes1 h1 {
    font-weight: 700;
    font-size: 40px;
}
.boxes1 p {
    font-weight: 400;
    font-size: 16px;
    color: #677071;
}
.box-title h2 {
    font-size: 30px;
}
.box-title p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}
#box img {
    left: 500px;
}
.box-cards {
    width: 580px;
    height: 670px;
    background: white;
    border-radius: 10px;
    box-shadow: 8px 27px 69px 0px rgba(0, 0, 0, 0.08);

    /* position: relative; */
}
.box-card {
    display: flex;
    flex-direction: column;
    
    gap: 20px;
   
    
   
}
.box-card p {
    font-size: 13px;
    font-weight: 400;
    color: #677071;
    padding-left: 30px;
    padding-right: 10px;
}
.i  {
    display: flex;
    align-items: center;
    padding: 50px 30px;
}
.box-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    margin-bottom: 30px;
    /* position: absolute;
    top: 425px; */
}
.box-img img {
    /* position: absolute;
    right: 20px; */

}
.box-img  h3 {
    font-weight: 500;
    font-size: 16px;
    margin-left: 30px;
}
.save {
    background: #FFFFFF;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 100px;
    top: 355px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);

}
.save  i {
    font-size: 26px;
    color: #13A6BA;
}
.box-cards1 {
    width: 307px;
    height: 307px;
    background: white;
    border-radius: 15px; 
    box-shadow: 16px -16px 42px 0px rgba(0, 0, 0, 0.10);
    position: absolute;
    top: 560px;
    right: 450px;

}
.box-card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    
}

.box-card1 h2 {
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
}
.box-card1 h5 {
    font-weight: 400;
    font-size: 10px;
    color: #677071;
    margin-top: 5px;
}
.post {
    display: flex;
    gap: 80px;
    font-size: 15px;
    font-weight: 400;
    color: #677071;
    margin-top: 30px;
}
.btns1 {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    
}
.btns1 button {
    padding: 14px 24px;
    border-radius: 12px;
}
.b1 {
    background: #772D8B;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    border: none;
}

.b2 {
    color: #677071;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #677071;

}
.comment {
    background: #FBEDDA;

}
.com {
    margin-top: 300px;
    display: flex;
    gap: 90px;
   
}
.coms {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin-top: 80px;
}

.com img{
    width: 600px;
    height: 900px;
    
}
.coms h3 {
    font-weight: 400;
    font-size: 18px;
    color: #13A6BA;
}
.coms h2 {
    margin-top: 30px;
    font-weight: 700;
    font-size: 40px;
   
}
.coms p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-top: 50px;
   
}
.coms h4 {
    margin-top: 50px;
    font-weight: 700;
    font-size: 18px;
   
}
.coms h5 {
    font-weight: 400;
    font-size: 14px;
    color: #677071;
}

.box-find {
    margin-top: 150px;
    display: flex;
    align-items: center;
    gap: 100px;

}
.buttons {
    font-weight: 400;
    font-size: 18px;
    padding: 10px 30px;
    background: #13A6BA;
    color: white;
    border: none;
    border-radius: 10px;

}
.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box-find input {
    width: 515px;
    height: 60px;
    border-radius: 10px;
    border: 0.5px solid  #13A6BA;
    padding: 10px 30px;
}

.box-f h2 {
    font-weight: 700;
    font-size: 40px;  
}
.box-f p {
    font-weight: 400;
    font-size: 18px;
    line-height: 38px;
    color: #677071;
    margin-top: 40px;
}
.footer {
    border-bottom: 1px solid #677071;
    padding: 30px;
}

.footers {
    display: flex;
    gap: 100px;
    margin-top: 100px;
    
}
.foo2 {
    display: flex;
    flex-direction: column; 
    gap: 20px;
}
.foo2 a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: black;

}
.foo2 h4 {
    font-size: 20px;
    font-weight: 700;
}
.foo-h3 {
    font-size: 22px;
    font-weight: bold;

}
.foo1 p {
    margin-top: 20px;
    color: #677071;
    
}
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
} 

.icons i{
    background: white;
    border: 1px solid #13A6BA;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 20px;
    color: #13A6BA;
}

.copy h5 {
    font-weight: 400;
    font-size: 18px;
    color: #677071;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Adaptation */

@media (max-width: 992px) {
    .toggle_btn{
        display: block;
        z-index: 99;
        padding-right: 50px;
    }

    .menu .navs {
        display: none;
    }

    .menu h3 {
        padding-left: 69px;
    }

    .image img {
        width: 900px;
        height: 600px;
    }

.title h1 {
    font-size: 39px;
}
.title p {
    font-size: 12px;
}
.card {
    width: 670px;
}

.subtitle h5 {
    font-size: 13px;
}
.img p {
    font-size: 13px;
}
.buys h3 {
    font-size: 20px;
}
.button {
    font-size: 18px;
}

.home {
    margin-left: 69px;
}
.home p {
 font-size: 13px;
}
.home h2 {
    font-size: 25px;
}
.home-subtitle {
    margin-right: 69px;
}

.donate-cards {
    margin-left: 69px;
    margin-right: 69px;
    gap: 20px;  
}
.donate-card {
    width: 270px;
    height: 450px;
}
.donate-img3 img{
    width: 230px;
    height: 180px;
}
.donate-sub h3 {
    font-size: 18px;
}
.donate-sub p {
    font-size: 13px;
}
.donate-sub h1 {
    font-size: 27px;
}
.donate-sub h2 {
    font-size: 12px;
}
.btns {
    font-size: 12px;
    padding: 10px 100px;
    margin-right: 40px;
    margin-top: 20px;
}
.icon {
    margin-right: 69px;
}
.icon i {
    width: 50px;
    height: 50px;
    
}
.some-title {
    gap: 60px;
    margin-left: 69px;
    margin-right: 69px;
}
.some-subtitle img {
    width: 46px;
    height: 59px;
}
.some-img img {
    width: 455px;
    height: 575px;
}
.some-text h1 {
    font-size: 28px;
}
.im h3 {
    font-size: 16px;
}
.im p {
    font-size: 12px;
}
.min {
    width: 295px;
    height: 155px;
    top: 375px;
    right: 581px;
}
.mins h3{
   font-size: 18px;
}
.mins p {
    font-size: 12px;
}
.imgs {
    margin-top: 16px;
}
.imgs img {
    width: 50px;
    height: 45px;
}
.imgs i {
    width: 50px;
    height: 45px;
}
.boxes {
    margin-left: 69px;
    /* margin-right: 69px; */
    gap: 20px;
}
.boxes h1 {
    font: 25px;

}
.boxes p {
    font-size: 13px;
}
.box-title h2 {
    font-size: 20px;
}
.box-title p {
    font-size: 10px;
}
.box-cards {
    width: 430px;
    height: 500px;
}
.save {
    width: 48px;
    height: 48px;
    right: 58px;
    top: 265px;
}
.box-img {
    margin-bottom: 10px;
}
.box-img h3 {
    font-size: 10px;
}
.box-img img {
    width: 44px;
    height: 44px;
}
.box-card p {
    font-size: 9px;
}
.box-card1 {
    padding: 20px;
}
.box-cards1 {
    width: 250px;
    height: 250px;
    top: 405px;
    right: 305px;
}
.box-card1 h2 {
    font-size: 12px;
}
.post {
    font-size: 12px;
    gap: 55px;
    margin-top: 15px;
}
.btns1 button {
  padding: 9px 15px;
}
.b1 {
    font-size: 9px;
}
.b2 {
    font-size: 9px;
}
.btn1 {
    margin-top: 15px;
}
.com {
    margin-left: 69px;
    margin-right: 20px;
    gap: 10px;
}
 .com img {
    width: 530px;
    height: 720px;
 }
 .coms h3 {
    font-size: 12px;
 }
 .coms h2 {
    font-size: 30px;
 }
 .coms p {
    font-size: 12px;
    line-height: 24px;
    margin-top: 30px;
 }
 .coms h4 {
    margin-top: 35px;
    font-size: 14px;
 }
 .coms h5 {
    font-size: 10px;
 }

 .box-find {
    margin-left: 69px;
 }
 .box-f h2 {
    font-size: 30px;

 }
 .box-f p {
    font-size: 14px;
    line-height: 22px;
    margin-top: 25px;
 }
 .box-find input {
    width: 380px;
    height: 50px;
 }
 .buttons {
    font-size: 15px;
 }

 .footers {
    gap: 50px;
    margin-left: 50px;
 }

 .foo-h3 {
    font-size: 18px;
 }
 .foo2 h4 {
    font-size: 15px;
 }
 .foo2 a {
    font-size: 13px;
 }
 .foo1 h3 {
    font-size: 15px;
 }

.foo1 p {
    font-size: 13px;
}
 .icons i {
    font-size: 14px;
    width: 26px;
    height: 26px;
 }

 .copy h5 {
    font-size: 12px;
 }


}

@media (max-width: 576px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;

    }

}